
.date-container {
    display: flex;
    margin: 20px;
    justify-content: space-between;
    align-items: center;
}
h1{
    font-size: 40px;
}

#line-bar{
    width: auto;
    background-color: green;
    height: 20px;
}
   